@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#message-container div {
    background-color: #dadada;
    padding: 5px;
  }

#message-container div:nth-child(2n) {
    background-color: #FFF;
  }
.piano-key {
 user-select: none;
 height:80vh;
 width: 12%;
}
.sharp{
  position:absolute;
  height:30vh;
  width:6%;
}
.hover-active{
  transform: scale(0.95);
}
.active{
    
    transform: scale(0.95);
}

/* @media screen and (min-width: 768px) {
 
  .piano-key {
    width: 12%;
  }
  .sharp{
    position:absolute;
    height:30vh;
    width:6%;
  }
} */

