@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#message-container div {
    background-color: #dadada;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }
  .piano-key {
 
    user-select: none; /* Prevent text selection */

  }